body {
  text-align: center;
  background-color: #042f4b;
  /* background: linear-gradient(to bottom, #000066 0%, #cc00cc 100%); */
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin: 2.5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 150px;
  width: 150px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.bottom-container {
  padding: 30px 0 1px;
}

.footer-link {
  color: #11999E;
  margin-right: 20px;
}

.copyright {
  color: #fff;
  font-size: 0.8rem;
  padding: 10px 0 5px;
  font-family: 'Merriweather', serif;
}

p .copyright {
  font-size: 1em;
  font-family: 'Merriweather', serif;
  padding: 0px;
  margin: 0;
}

a:hover {
  color: #EAF6F6;
}

@media only screen and (min-width: 600px) {
  *{
    font-size:1.2em;
    padding:inherit;
  }
  p.copyright{
    font-size:1.2em;
  }
  div.green, div.red, div.yellow, div.blue{
    width:200px;
    height:200px;
  }
}
